<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img class="ion-margin-top" src="assets\usuario-perfiles.svg"></ion-img>
  <ion-item class="fondo input ion-margin-top" lines="none">
    <ion-input label="Usuario" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item class="fondo input ion-margin-top" lines="none">
    <ion-input label="Contraseña" type="password" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-button color="warning" expand="block"> Registrar </ion-button>
</ion-content>
